server {
    listen 80;
    server_name tuanduimao.rc;
    root /code;
    access_log  /logs/nginx/access.log;
    error_log  /logs/nginx/error.log;

    location ^~ /static-file/ {  
       root /data/stor/public;
       access_log  /logs/nginx/access.static.log;
       error_log  /logs/nginx/error.static.log;
    }

    location / {
        include /code/route.rewrite.conf;
    }
    
    client_max_body_size 256m;
    index index.php;
    location ~ \.php$ {
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_pass unix:/run/php/php7-fpm.sock;
        fastcgi_index index.php;
        fastcgi_split_path_info ^(.+\.php)(.*)$;
        include fastcgi_params;
        try_files $uri =404;
    }
}